section.analytics
  script(src="https://cdn.plot.ly/plotly-latest.min.js")

  h2 Stats
  
  - if @chartData()?[0]
    .chart-container
      h3
        span= "#{@totalRemixes()} Remixes Over #{@analyticsTimeLabel()}"
        span.emoji.emoji-in-title.microphone
      .button-wrap
        button.button-small.button-tertiary.button-select(click=@toggleAnalyticsTimePop)= @analyticsTimeLabel
        = @analyticsTimePopPresenter
      .button-wrap
        button.button-small.button-tertiary All Projects
      = @remixesChart
      - if @showRemixesReferrers
        h3 From
        = @remixesReferrersBars
  
  - if @chartData()?[1]
    .chart-container
      h3
        span= "#{@totalVisits()} Visits Over #{@analyticsTimeLabel()}"
        span.emoji.emoji-in-title.eyes
      button.button.button-small.button-tertiary Last 2 Weeks
      button.button-small.button-tertiary All Projects
      = @visitsChart
      - if @showVisitsReferrers
        h3 From
        = @visitsReferrersBars
